<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>python web</title>
    <style media="screen">
      img{
            height: 100px;
      }
      .font{
        color:#9C27B0
      }
    </style>
  </head>
  <body>
    <img src="https://multidoge.org/images/MultiDoge.png">
    <h2 class="font">python web 乞丐版</h2>
    <ul>
      <li>很惭愧，只做一点微小贡献</li>
      <li>naive</li>
    </ul>
    <br>
    <form  action="/" method="post">
      <input type="text" name="" value="">
      <button type="button" name="button">add</button>
    </form>
  </body>
</html>